# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env / secrets
.env
.env.local
*.pem

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Build artifacts
dist/
build/

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
